<div class="container banner-container">
  <div class="row banner-row">
    <h1>
      Buy, sell or find anything,<br />
      just for Globers!
    </h1>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="bannerwrapper">
          <ul class="nav navbar-nav">
              <li *ngFor="let item of listingsData">
                  <div class="img-icon">
                      <img src="../../../../assets/img/mobile-icon/{{item.listInfo.img}}" />
                  </div>
                  <div class="categoryTitle">{{item.listName}}</div>
                  <span class="spriteimage {{item.listInfo.largeImgClassName}}"></span>
                  <ul class="hoverlistWrapper">
                      <li *ngFor="let d of item.listInfo.items"><a href="">{{d.name}}</a></li>
                  </ul>
                  <button>EXPLORE</button>
              </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
