<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="images/logo.png" /></a>
      <button class="icon-search-icon search-btn pull-right"></button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <button class="green-button">
                <span class="icon-flag">
                </span>
            <span>create</span>
          </button>
        </li>
        <li>
          <a href="#">
            <span class="textwishlist pull-right">my wishlist</span>
            <span class="icon-like-icon wishlist pull-right"></span>
          </a>
        </li>
        <li>
          <button class="icon-menu-icon menu-btn pull-right"></button>
        </li>
      </ul>
    </div>
  </div>
</nav>
