################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Application/Server/ClassifiedAPI/Classifieds.Common/obj/Debug
/Application/Server/ClassifiedAPI/Classifieds.Listings.BusinessEntities/obj/Debug
/Application/Server/ClassifiedAPI/Classifieds.Listings.Repository.Tests/bin/Debug
/Application/Server/ClassifiedAPI/Classifieds.Listings.Repository.Tests/obj/Debug
/Application/Server/ClassifiedAPI/Classifieds.Search.BusinessEntities/obj/Debug
/Application/Server/ClassifiedAPI/Classifieds.SearchAPI.Tests/bin/Debug
/Application/Server/ClassifiedAPI/Classifieds.SearchAPI.Tests/obj/Debug
/Application/Server/ClassifiedAPI/Classifieds.Listings.BusinessEntities/bin/Debug
/Application/Server/ClassifiedAPI/Classifieds.Listings.BusinessServices/bin/Debug
/Application/Server/ClassifiedAPI/Classifieds.Listings.BusinessServices/obj/Debug
/Application/Server/ClassifiedAPI/Classifieds.Listings.Repository/obj/Debug
/Application/Server/ClassifiedAPI/Classifieds.Listings.Repository/bin/Debug
/Application/Server/ClassifiedAPI/Classifieds.ListingsAPI/bin
/Application/Server/ClassifiedAPI/Classifieds.ListingsAPI/obj/Debug
