<ul class="nav navbar-nav filter">
      <li class="active"><a href="#">All</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Electronics</a>
        <ul class="dropdown-menu">
          <li><a href="">Mobiles</a></li>
          <li><a href="">Laptops and Desktops</a></li>
          <li><a href="">Kitchen Appliences</a></li>
          <li><a href="">Home Appliences</a></li>
          <li><a href="">Accessories</a></li>
          <li><a href="">Others</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Housing</a>
        <ul class="dropdown-menu">
          <li><a href="">Studio Apartments</a></li>
          <li><a href="">Double Sharing</a></li>
          <li><a href="">Single room</a></li>
          <li><a href="">Double BEdroom</a></li>
          <li><a href="">Fully Furnished</a></li>
          <li><a href="">Semi Furnished</a></li>
          <li><a href="">Luxury Aprtments</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Automotive</a>
        <ul class="dropdown-menu">
          <li><a href="">Cars</a></li>
          <li><a href="">Motarcycles</a></li>
          <li><a href="">Scooters</a></li>
          <li><a href="">Bycycles</a></li>
          <li><a href="">Accessories</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Furniture</a>
        <ul class="dropdown-menu">
          <li><a href="">Beds and Sofas</a></li>
          <li><a href="">Tables and Chairs</a></li>
          <li><a href="">Wadrobes and Storage</a></li>
          <li><a href="">Home decor and garden</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Other</a>
        <ul class="dropdown-menu">
          <li><a href="">Books and stationary</a></li>
          <li><a href="">Sports equipment</a></li>
          <li><a href="">Musical instrument</a></li>
          <li><a href="">Apparel and accessories</a></li>
          <li><a href="">Games and Entertainment</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Recomended</a>
        <ul class="dropdown-menu">
          <li><a href="">Books and stationary</a></li>
          <li><a href="">Laptops and Desktops</a></li>
          <li><a href="">Single room</a></li>
          <li><a href="">Wadrobes and Storage</a></li>
          <li><a href="">Bycycles</a></li>
        </ul>
      </li>
    </ul>