@import "../../styles/sass/style";

.navbar{
	background-color: $primary-background-color;
	font: 0.857em $arvo-bold;
	text-transform: uppercase;
	.search-button{
		font-family: 'Open Sans';
		font-weight: 600;
		margin:40px 0 40px 0;
		float:left;
		color: $white-color;
		input{
			border:none;
		    border-radius: 15px;
	    	position: relative;
	    	background: $green-color;
	    	@include placeholder-color($white-color);
	    	text-transform: uppercase;
	    	padding-left: 5px;
		}
		button{
			background: transparent;
	    	border: transparent;
	    	border-radius: 15px;
	    	position: absolute;
	    	top: 41px;
	    	left: 130px;
		}
	}
	.nav.navbar-nav.filter{
		float: right;
		li{
			a{
				color: $primary-text-color;
				border-radius:15px;
				padding: 5px 20px 5px 20px;
				margin:40px 0 40px 0;
			}
			a:focus{
				border: 2px solid $green-color;
				color: $active-button-text-color;
				background-color: transparent;
			}
			a:hover{
				border: 2px solid $green-color;
				color: $active-button-text-color;
				background-color: transparent;
			}
			a:active{
				border: 2px solid $green-color;
				color: $active-button-text-color;
			}
			.open>a:hover, .open>a:focus, .open>a.active{
				background-color: transparent;
			}
			.dropdown-menu{
				display:none;
				margin-top:-40px;
				border-radius:15px;
			}
		}
	}
}
@media (min-width: 320px) and (max-width: 460px){
	.navbar{
		display:none;
	}
}