@import "../../_common/styles/sass/style";

.navbar{
  .nav.navbar-nav.filter{
    float: right;
    li{
      a{
        color: $primary-text-color;
        font: 0.857em $arvo-regular;
        border-radius:15px;
        padding: 5px 20px;
        /*margin:40px 0;*/
        border: 2px solid transparent;
      }
      a:focus, a:hover, a:active{
        border: 2px solid $green-color;
        color: $active-button-text-color;
        background-color: transparent;
        padding: 5px 20px;
      }
      .open>a:hover, .open>a:focus, .open>a.active{
        background-color: transparent;
      }
      .dropdown-menu{
        display:none;
        margin-top:-40px;
        border-radius:15px;
      }
    }
  }
}
