<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
    <add key="SearchDB" value="Classifieds"/>
    <add key="Collection" value="Listing"/>
    <add key="Logging" value="Logging"/>
  </appSettings>
  <connectionStrings>
    <add name="SearchDBConnectionString" connectionString="mongodb://localhost"/>
  </connectionStrings>
</configuration>