@import "../../styles/sass/style";

nav{
  &.navbar{
    margin-bottom: 0;
  }
  &.navbar-inverse{
    background-color: $darkblue-color;
    border:none;
    border-radius: 0;
    padding: 25px 42px;
    .navbar-header{
      .navbar-brand{
        height:auto;
        padding: 0;
      }
      .search-btn{
        display: none;
      }
    }
    .collapse{
      ul.nav{
        li{
          color:$white-color;
          button.green-button{
            background-color: $green-color;
            color: $darkblue-color;
            border-radius: 10px;
            padding: 5px 15px 5px 10px;
            font-family: 'Open Sans';
            font-weight: bold;
            font-size: 0.714em;
            margin-right: 20px;
            border:none;
            text-transform: uppercase;
            letter-spacing: 2px;
            span{
              vertical-align: middle;
            }
          }
          a{
            padding: 0;
            .textwishlist{
              text-transform: uppercase;
              color:$white-color;
              font-family: 'Open Sans';
              font-size: 0.857em;
            }
            .wishlist{
              padding:5px 12px 0 0;
              color: $red-color;
            }
          }
          .menu-btn{
            margin:5px 0 0 30px;
            background: none;
            border: none;
          }
        }
      }
    }
  }
}


@media (min-width: 320px) and (max-width: 460px){
  nav.navbar-inverse{
    .navbar-header{
      button.navbar-toggle{
        margin: 0;
        float:left;
        border: none;
      }
      button.navbar-toggle:hover{
        background-color: transparent;
      }
      a.navbar-brand{
        margin:8px 0 0 13%;
        width:50%;
        img{
          width:100%;
        }
      }
      .search-btn{
        display: block;
        background: none;
        border: none;
        color:$white-color;
        margin: 10px 0 0 0;
      }
    }
    .navbar-collapse.collapse{
      border: none;
      box-shadow: none;
      ul.nav{
        display: inline-block;
        li{
          .menu-btn{
            display: none;
          }
          button.green-button{
            margin-top: 10px;
          }
          a{
            .textwishlist, .wishlist{
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}
