$white-color: #ffffff;
$darkblue-color: #495574;
$green-color: #c1d72f;
$primary-background-color: #f7f8f9; //navCardbg
$primary-text-color: #9fa3a7; //card text
$primary-button-text-color: #525252;
$primary-button-border-color: #d8d8d8;
$active-button-border-color: #c1d731;
$active-button-text-color: #242424;
$light-grey-border: #f4f4f4;
$light-grey-button-border: #d8d8d8;
$heading-color:#212121;
$red-color:#f9593a;

body{
  background-color:$white-color;
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 1;
}

@font-face {
  font-family: 'ArvoItalic';
  src: url('/src/assets/fonts/ArvoItalic.eot');
  src: url('/src/assets/fonts/ArvoItalic.eot') format('embedded-opentype'),
  url('/assets/fonts/ArvoItalic.woff2') format('woff2'),
  url('/src/assets/fonts/ArvoItalic.woff') format('woff'),
  url('/src/assets/fonts/ArvoItalic.ttf') format('truetype'),
  url('/src/assets/fonts/ArvoItalic.svg#ArvoItalic') format('svg');
}

@font-face {
  font-family: 'ArvoBold';
  src: url('/src/assets/fonts/ArvoBold.eot');
  src: url('/src/assets/fonts/ArvoBold.eot') format('embedded-opentype'),
  url('/assets/fonts/ArvoBold.woff2') format('woff2'),
  url('/src/assets/fonts/ArvoBold.woff') format('woff'),
  url('/src/assets/fonts/ArvoBold.ttf') format('truetype'),
  url('/src/assets/fonts/ArvoBold.svg#ArvoBold') format('svg');
}

@font-face {
  font-family: 'ArvoBoldItalic';
  src: url('/src/assets/fonts/ArvoBoldItalic.eot');
  src: url('/src/assets/fonts/ArvoBoldItalic.eot') format('embedded-opentype'),
  url('/src/assets/fonts/ArvoBoldItalic.woff2') format('woff2'),
  url('/src/assets/fonts/ArvoBoldItalic.woff') format('woff'),
  url('/src/assets/fonts/ArvoBoldItalic.ttf') format('truetype'),
  url('/src/assets/fonts/ArvoBoldItalic.svg#ArvoBoldItalic') format('svg');
}

@font-face {
  font-family: 'ArvoRegular';
  src: url('/src/assets/fonts/ArvoRegular.eot');
  src: url('/src/assets/fonts/ArvoRegular.eot') format('embedded-opentype'),
  url('/assets/fonts/ArvoRegular.woff2') format('woff2'),
  url('/src/assets/fonts/ArvoRegular.woff') format('woff'),
  url('/src/assets/fonts/ArvoRegular.ttf') format('truetype'),
  url('/src/assets/fonts/ArvoRegular.svg#ArvoRegular') format('svg');
}

$arvo-italic: 'ArvoItalic';
$arvo-bold:'ArvoBold';
$arvo-bold-italic:'ArvoBoldItalic';
$arvo-regular:'ArvoRegular';

//ICONS

@font-face {
  font-family: 'icomoon';
  src:  url('/src/assets/fonts/icon-fonts/icomoon.eot?2now9z');
  src:  url('/src/assets/fonts/icon-fonts/icomoon.eot?2now9z#iefix') format('embedded-opentype'),
  url('/src/assets/fonts/icon-fonts/icomoon.ttf?2now9z') format('truetype'),
  url('/src/assets/fonts/icon-fonts/icomoon.woff?2now9z') format('woff'),
  url('/src/assets/fonts/icon-fonts/icomoon.svg?2now9z#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  content: "\e900";
}
.icon-flag:before {
  content: "\e901";
}
.icon-like-icon:before {
  content: "\e902";
}
.icon-menu-icon:before {
  content: "\e903";
}
.icon-search-icon:before {
  content: "\e904";
}

.spriteimage{
  background: url("/assets/img/banner-css-sprite.png") no-repeat;
}

.electronicIcon{
  width: 91px;
  height:80px;
  background-position:0 0;
  display:block;
}

.housingIcon{
  width: 78px;
  height:80px;
  background-position:-92px 0;
  display:block;
}

.automotiveIcon{
  width: 91px;
  height:80px;
  background-position:-171px 0;
  display:block;
}

.furnitureIcon{
  width: 97px;
  height:80px;
  background-position:-264px 0;
  display:block;
}

.assortedIcon{
  width: 89px;
  height:80px;
  background-position:-363px 0;
  display:block;
}







