@import "../../styles/sass/style";

.navbar{
  .search-button{
    font-family: 'Open Sans';
    font-weight: 600;
    float:left;
    color: $white-color;
    position: relative;
    input{
      border:none;
      border-radius: 15px;
      background: $green-color;
      @include placeholder-color($white-color);
      text-transform: uppercase;
      padding: 5px 5px 5px 10px;
    }
    span.icon-search-icon{
      position:absolute;
      right: 5%;
      top: 5px;
      cursor:pointer;
    }
  }
}