<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular/index.js"></script>
    <script src="../bower_components/angular-directive.g-signin/google-plus-signin.js"></script>
</head>
<body>
    <div ng-app="directive.g+signin">
        <google-plus-signin clientid="5692995371-kkjpodsu6o5dmmtobj4p9qgpuvt4sqdg"></google-plus-signin>

    </div>
</body>
</html>

<!--5692995371-kkjpodsu6o5dmmtobj4p9qgpuvt4sqdg.apps.googleusercontent.com
u1pPVmcZa1-Xlm2QSKtw6kMA-->
