body {
    font-family: Arial;
}

div {
    display: block;
    font-size: xx-large;
    height: 350px;
    width: 400px;
    border: 1px solid black;
    padding: 10px;
    overflow-y: scroll;
}
.header {
    width: 800px;
    height: 80px;
    text-align: center;
    background-color: #BDBDBD;
}

.footer {
    background-color: #BDBDBD;
    text-align: center;
}

.leftMenu {
    height: 500px;
    background-color: #D8D8D8;
    width: 150px;
}

.mainContent {
    height: 500px;
    background-color: #E6E6E6;
    width: 650px;
}

a{
    display:block;
    padding:5px
}
